-e .
coverage==7.14.3
ty==0.0.52
pdoc==15.0.4
pip==24.3.1
pre-commit==4.6.0
pytest-cov==7.1.0
pytest==9.1.1
pytest-aiohttp==1.0.5
ruff==0.15.18
google-auth==2.55.0
requests==2.34.2
google-auth-oauthlib==1.4.0
